@use "../../../../shared/styles/index" as *;

.OverwiewCooperationModelsTable {
  th {
    text-align: start;
  }

  .type {
    background-color: $secondary;
    font-weight: bold;
    border-bottom-color: $white;

    @include resolution(x-tablet, max-width) {
      border: 0;
    }
  }
}
