@use "../../shared/styles/index" as *;

.CapacityBuildingPage {
  background-color: $white;
  padding-bottom: $large;

  .content {
    padding: $padding-content;
    @include flexColumn(flex-start);
    text-align: start;
    gap: $medium;
    ol {
      padding-left: 1.25rem;
    }

    ul {
      list-style: inside;
    }
  }
}
