@font-face {
  font-family: noyhslimr-regular;
  src: url("./assets/fonts/noyhSlimRounded/noyhslimr-regular.otf");
}
@font-face {
  font-family: noyhslimr-bold;
  src: url("./assets/fonts/noyhSlimRounded/noyhslimr-bold.otf");
}
@font-face {
  font-family: noyhslimr-medium;
  src: url("./assets/fonts/noyhSlimRounded/noyhslimr-medium.otf");
}
@font-face {
  font-family: noyhslimr-light;
  src: url("./assets/fonts/noyhSlimRounded/noyhslimr-light.otf");
}
@font-face {
  font-family: noyhslimr-italic;
  src: url("./assets/fonts/noyhSlimRounded/noyhslimr-italic.otf");
}
/* @font-face {
  font-family: WorkSansRegular;
  src: url("./assets/fonts/WorkSans-Regular.ttf");
}
@font-face {
  font-family: WorkSansBold;
  src: url("./assets/fonts/WorkSans-Bold.ttf");
}
@font-face {
  font-family: WorkSansMedium;
  src: url("./assets/fonts/WorkSans-Medium.ttf");
} */

:root {
  --ds4sscc-color-black: #000000;
  --ds4sscc-color-white: #ffffff;
  --ds4sscc-color-primary: #53c9f4;
  --ds4sscc-color-primary-1: #8adaf8;
  --ds4sscc-color-secondary: #5dbd7b;
  --ds4sscc-color-secondary-1: #e8f6ed;
  --ds4sscc-color-tertiary: #e1e671;
  --ds4sscc-color-tertiary-1: #f9fae3;

  --ds4sscc-color-black-opacity: #00000085;
  --ds4sscc-color-primary-opacity: #53c9f424;

  --ds4sscc-max-width-content: 1200px;
  --ds4sscc-padding-inline-content: 2rem;
  --ds4sscc-padding-block-content: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: noyhslimr-regular, sans-serif;
}

html {
  background: #ccf5e5;
  color: #17214e;
}

h1,
h2 {
  font-family: noyhslimr-bold, sans-serif;
  font-weight: bold;
}

h3,
h4,
h5 {
  font-family: noyhslimr-medium, sans-serif;
  font-weight: normal;
}

.font-bold {
  font-family: noyhslimr-bold, sans-serif;
  font-weight: bold;
}

.font-medium {
  font-family: noyhslimr-medium, sans-serif;
  font-weight: normal;
}

.font-light {
  font-family: noyhslimr-light, sans-serif;
}

.font-italic {
  font-family: noyhslimr-italic, sans-serif;
}

p {
  font-size: 1.125rem;
}

body {
  min-height: 100vh;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
  background: var(--ds4sscc-color-primary);
  border: none;
  color: white;
  transition: all 0.1s ease;
  border-radius: 4px;
}

button:hover {
  background: var(--ds4sscc-color-primary-1);
}

.btn-secondary {
  background-color: #7ed958;
  color: #17214e;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
}

table {
  border-collapse: collapse;
  margin: 20px 10px;
}
table tbody tr td {
  border: 1px solid black;
}

.bg-gray {
  background-color: #f4f4f4;
}

.img-placeholder {
  background-color: black;
  width: 250px;
  max-width: 250px;
  height: 250px;
  min-height: 250px;
  float: right;
  margin: 20px;
  margin-right: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #7ed958;
}

figure figcaption {
  font-family: noyhslimr-italic, sans-serif;
  text-align: center;
  font-size: small;
  font-style: italic;
}

caption {
  font-family: noyhslimr-italic, sans-serif;
}
