@use "../../shared/styles/index" as *;

.BuildingBlockPage {
  section:nth-child(1) {
    background-color: $dark-primary;
    padding: $padding-content;
    // max-height: 500px;
    // height: 400px;
    @include flexRow(flex-start);
    position: relative;
    @media (max-width: 600px) {
      flex-direction: column;
      height: fit-content;
    }

    div:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: $large;

      img {
        height: 200px;
        padding: 25px;
      }

      h1 {
        color: white;
      }

      p {
        color: white;
      }

      @include resolution(xs-tablet, max-width) {
        img {
          height: 100px;
          padding: 15px;
        }

        h1 {
          font-size: 25px;
        }

        p {
          text-align: justify;
        }
      }
    }
  }

  section:nth-child(2) {
    background-color: white;
    padding: 5% 10% 50px 10%;
    gap: $medium;
    @include fluidGrid(350px);

    table {
      border-collapse: collapse;
      overflow-x: scroll;

      tr {
        border-bottom: 1px solid $secondary;

        td {
          padding: 15px 0;
          border: none;
        }

        td:nth-child(1) {
          font-weight: bold;
          color: $dark-primary;
          padding-right: 100px;
        }

        @media (max-width: 600px) {
          td {
            padding: 2px 0;
          }

          td:nth-child(1) {
            padding-right: 15px;
          }
        }
      }
    }
  }

  .footer {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
