@use "../../../../shared/styles/index" as *;

.PriorityDatasetsTable {
  margin: 0;
  th {
    text-align: start;
    padding: $medium $small;
  }

  .name {
    font-weight: 600;
  }

  .links {
    div {
      margin-block: $xx-small;
    }

    @include resolution(x-tablet, max-width) {
      .pills {
        @include flexRow();
        gap: $xx-small;
        flex-wrap: wrap;
        div {
          margin-block: 0;
        }
      }
    }
  }
}
