@use "../../../../shared/styles/index" as *;

.GovernanceFramework {
  @include resolution(mobile, max-width) {
    @include flexColumn();
    img {
      float: none;
      margin: auto;
    }
  }

  p {
    margin: $small 0;
  }

  table {
    margin-inline: 0;
  }
}
