@use "../../../../shared/styles/index" as *;

.TypeOfGovernanceTable {
  tbody {
    tr {
      td {
        vertical-align: baseline;

        &:first-child {
          background-color: $card-bg;
        }

        span {
          &:first-child {
            min-width: 43%;
          }
        }
      }
    }
  }
}
