@use "../../../../shared/styles/index" as *;

.DatatypesAndSourcesTable {
  th {
    text-align: start;
  }
  .datasetProfile {
    background-color: $secondary;
    a {
      color: $black;
    }
  }

  td {
    p {
      @include resolution(mobile, max-width) {
        word-break: break-word;
      }
    }
  }
}
