@use "../../../shared/styles/index" as *;

.title {
  color: $secondary;
  font-size: $main-title;
  font-weight: bold;
  padding: 0;
  // padding: 25px 20px 20px 0;

  @media (max-width: 600px) {
    font-size: $small-device-main-title;
    // padding-bottom: 10px;
  }
}
