@use "../../../shared/styles/colors" as *;

.Copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: $white;

  a {
    color: $black;
    font-weight: bold;
    font-size: 20px;
  }
}
