@use "../../../../shared/styles/index" as *;

.VisionAndPrinciples {
  @include resolution(mobile, max-width) {
    @include flexColumn();
    img {
      float: none;
      margin: auto;
    }
  }

  p {
    margin: $small 0;

    span {
      font-weight: bold;
    }
  }
  ul {
    padding-left: 40px;
    list-style: outside;
  }
}
