@use "../../../../shared/styles/index" as *;

.Burger {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 6px;
  cursor: pointer;
  position: relative;

  .bar {
    flex: none !important;
    width: 30px;
    height: 3px;
    background-color: $primary;
    border-radius: $small;
    animation-fill-mode: forwards;

    &:is(:not(:first-child, :last-child)) {
      animation-name: burger;
      animation-duration: 0.15s;
      animation-delay: 0.15s;
      transform: scaleX(0);
    }

    &:is(:last-child, :first-child) {
      position: absolute;
      transition: all 0.1s ease-out;
      width: 100%;
      transform-origin: 50%;
      animation-duration: 0.3s;
    }

    &:first-child {
      top: 0;
      animation-name: burgerFirst;
      transform: rotate(45deg);
    }

    &:last-child {
      top: 0;
      animation-name: burgerLast;
      transform: rotate(-45deg);
    }
  }
}

.BurgerOpen {
  position: relative;

  .bar {
    &:not(:first-child):not(:last-child) {
      animation-name: burgerOpen;
      transform: scaleX(100%);
      height: 0;
    }

    &:first-child {
      top: -10px;
      transform: rotate(0);
      animation-name: burgerFirstOpen;
    }

    &:last-child {
      top: 10px;
      transform: rotate(0);
      animation-name: burgerLastOpen;
    }
  }
}

@keyframes burgerFirst {
  0% {
    top: 0;
    transform: rotate(45deg);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: 8px;
    transform: rotate(0);
  }
}
@keyframes burger {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes burgerLast {
  0% {
    top: 0;
    transform: rotate(-45deg);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: -8px;
    transform: rotate(0);
  }
}

@keyframes burgerOpen {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

@keyframes burgerFirstOpen {
  0% {
    top: 10px;
    transform: rotate(0);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(45deg);
  }
}

@keyframes burgerLastOpen {
  0% {
    top: -12px;
    transform: rotate(0);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(-45deg);
  }
}
