$primary: var(--ds4sscc-color-primary);
$secondary: var(--ds4sscc-color-secondary);
$tertiary: var(--ds4sscc-color-tertiary);
$black: var(--ds4sscc-color-black);
$black-opacity: var(--ds4sscc-color-black-opacity);
$white: var(--ds4sscc-color-white);
$card-bg: var(--ds4sscc-color-secondary-1);
$gray: #f4f4f4;

$dark-primary: #17214e;
$title: #e6f7de;
$color-light-opacity: rgba(0, 0, 0, 0.05);
