$padding-content: 5% 10%;

$xs-small: 5px;
$small: 10px;
$xs-medium: 15px;
$medium: 20px;
$xs-large: 25px;
$large: 30px;

$main-title: 3rem;
$small-device-main-title: 2rem;
$main-sub-title: 1.5rem;
$title: 1.2rem;
