@use "../../../shared/styles/index" as *;

.Projects {
  width: 100%;
  @include flexColumn(stretch);
  gap: $large;

  .filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $medium;

    @include resolution(x-tablet, max-width) {
      grid-template-columns: 1fr;
    }
  }

  .projects {
    margin: 0 auto;
    gap: $medium;
    @include fluidGrid(280px);
    justify-items: center;
  }
}
