@use "../../shared/styles/index" as *;

.RoadmapPage {
  background-color: $white;
  padding-bottom: $large;
  .discover {
    @include flexColumn();
    gap: $medium;
    padding: $padding-content;
    padding-block: 0;

    .card {
      width: 100% !important;
      max-width: none;
      aspect-ratio: 3/1;
      gap: $small;
    }

    @include resolution(tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;

      .card {
        max-height: 280px;
        aspect-ratio: 1/1;
      }
    }
  }
}
