@use "../../../../shared/styles/index" as *;

.RolesAndResponsibilities {
  @include flexColumn();
  gap: $medium;

  @include resolution(mobile) {
    width: 100%;
    @include flexRow(space-around, flex-start);
    flex-wrap: wrap;
  }
}
