@use "../../shared/styles/index" as *;

.RecommendedActionStandardisationPage {
  background-color: $white;
  padding-bottom: $large;

  .content {
    padding: $padding-content;
    @include flexColumn();
    gap: $medium;
  }
}
